{{define "driverSettings"}}
<form action="" method="post">
    <div class="alert alert-warning mt-3" role="alert">
        <p><strong>Note:</strong> Nothing to see here yet.</p>
        <p>This is a placeholder for future settings.</p>
    </div>

    {{if .Success}}
    <div class="alert alert-success mt-3" role="alert">
        Settings saved successfully.
    </div>
    {{end}}

    {{if .Error}}
    <div class="alert alert-danger mt-3" role="alert">
        {{.Error}}
    </div>
    {{end}}
</form>
{{end}}

{{template "header"}}
<div class="container">
    <main>
        <div class="py-5 text-center">
            <h1>ZRO Alpaca Driver Setup</h1>
        </div>
        <div class="container" style="max-width: 500px;">
            <div class="col-md-4"></div>
                {{template "driverSettings" .}}
            </div>
        </div>
    </main>
</div>
{{template "footer"}}